<div class="columns is-centered">
  <div class="column is-4-desktop is-8-tablet is-full-mobile">

    @if (isError) {
      <div class="message is-danger">
        <div class="message-body">
          <p>Something went wrong. Please check your input and try again</p>
        </div>
      </div>
    }

    @if (isEmailAlreadyUsed) {
      <div class="message is-danger">
        <div class="message-body">
          <p>Sorry, but this email address is already used by another user</p>
        </div>
      </div>
    }

    @if (isSuccess) {
      <div class="message is-success">
        <div class="message-body">
          <p>Your account was created! Now you can login and start using the app!</p>
          <a [routerLink]="['/users/login']">Go to login</a>
        </div>
      </div>
    }

    <div class="block has-text-centered">
      <h3 class="title is-3">Hi, what's up?</h3>
      <p class="subtitle is-5 has-text-grey">It is easy to create an account and start using app</p>
    </div>

    <div class="block">
      <div class="box">
        <form [formGroup]="signupForm" (submit)="onFormSubmit()">

          <div class="field">
            <label class="label">Your name</label>
            <div class="control has-icons-left">
              <input
                [class.is-success]="signupForm.get('name')?.touched && signupForm.get('name')?.valid"
                [class.is-danger]="signupForm.get('name')?.touched && !signupForm.get('name')?.valid"
                type="text"
                class="input"
                formControlName="name"
              >
              <span class="icon is-left">
                <i class="bx bx-user"></i>
              </span>
            </div>
            @if (signupForm.get('name')?.touched && signupForm.get('name')?.hasError('required')){
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>This field cannot be blank!</span>
              </p>
            }
          </div>

          <div class="field">
            <label class="label">Your email address</label>
            <div class="control has-icons-left">
              <input
                [class.is-success]="signupForm.get('email')?.touched && signupForm.get('email')?.valid"
                [class.is-danger]="signupForm.get('email')?.touched && !signupForm.get('email')?.valid"
                type="text"
                class="input"
                formControlName="email"
              >
              <span class="icon is-left">
                <i class="bx bx-envelope"></i>
              </span>
            </div>
            @if (signupForm.get('email')?.touched && signupForm.get('email')?.hasError('required')){
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>This field cannot be blank!</span>
              </p>
            }
            @if (signupForm.get('email')?.touched && signupForm.get('email')?.hasError('email')){
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>Please provide a valid email address</span>
              </p>
            }
          </div>

          <div class="field">
            <label class="label">Your password</label>
            <div class="control has-icons-left has-icons-right">
              <input
                [class.is-success]="signupForm.get('password')?.touched && signupForm.get('password')?.valid"
                [class.is-danger]="signupForm.get('password')?.touched && !signupForm.get('password')?.valid"
                [type]="isShowPassword ? 'text' : 'password'"
                class="input"
                formControlName="password"
              >
              <span class="icon is-left">
                <i class="bx bx-error"></i>
              </span>
              <span class="icon is-right is-clickable" (click)="isShowPassword = !isShowPassword">
                @if (isShowPassword) {
                  <i class="bx bx-low-vision"></i>
                } @else {
                  <i class="bx bx-show"></i>
                }
              </span>
            </div>
            @if (signupForm.get('password')?.touched && signupForm.get('password')?.hasError('required')){
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>This field cannot be blank!</span>
              </p>
            }
            @if (signupForm.get('password')?.touched && signupForm.get('password')?.hasError('minlength')){
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>The password should be at least 5 characters long</span>
              </p>
            }
          </div>

          <div class="block has-text-centered">
            <p>When creating an account, you accept our Terms of Conditions and Privacy Policy</p>
          </div>

          <div class="buttons">
            <button
              [class.is-loading]="isFormLoading"
              [disabled]="!signupForm.valid"
              class="button is-primary is-fullwidth"
              type="submit">Create account</button>
          </div>

        </form>
      </div>
    </div>

    <div class="block">
      <div class="box">
        <div class="block has-text-centered">
          <p>Do you have an account already?</p>
        </div>
        <div class="buttons">
          <a [routerLink]="['/users/login']" class="button is-fullwidth">Log in</a>
        </div>
      </div>
    </div>

  </div>
</div>
